venv
*.ipynb
followupboss/06_calls_to_gsheet.py
followupboss/backup_gsheet_to_mongodb.py
followupboss/calls_try.py
followupboss/copy_db_to_atlas.py
followupboss/delete_all_from_mongodb.py
followupboss/events.py
followupboss/people_v2.py
followupboss/people.py
followupboss/users.py
credentials.json
base64_credentials.txt
test.txt
requirements2.txt
05_leads_to_gsheet manual.py
base64_creds.txt
ignore_this